.container{
    height: 200px;
    width: 100%;
    display: flex;
    gap: 10px;

    .gun{
        background: black;
        height: 100px;
        width: 100px;
    }
    
    .bullet{
        border-radius: 100%;
        height: 50px;
        width: 350px;
        background-color: red;
    }
}